{:paths ["."]
 :tasks
 {:requires ([babashka.fs :as fs]
             [clojure.java.shell :as shell])

  build {:doc "Build using nix flakes. Build to ./result/"
         :task (shell/sh "nix" "build" "flake.nix")}

  clean {:doc "Clear build artifacts in ./result"
         :task (fs/delete-tree "./result")}
  clean:docs {:doc "Clears all files out of docs. Shouldn't be used unless part of the build."
              :task (fs/delete-tree  "./docs")}

  export {:doc "Builds the landing page and queues it up for github."
          :depends [clean clean:docs build]
          :task (shell/sh "cp" "-r" "./result/public/" "./docs/")
          #_(fs/copy-tree "./result/public/" "./docs/" {:replace-existing true
                                                        :nofollow-links false})}}}
