<!DOCTYPE html>
<html lang="{% if page %}{{ page.lang }}{% else %}{{ config.default_language }}{% endif %}" style="height: 100%;">

<head>
    {% include "head.html" %}
</head>

<body class="has-navbar-fixed-top is-flex is-flex-direction-column" style="height: 100%;">
    <header class="flex-align-self-flex-start">
        {% include "header.html" %}
    </header>
    <main class="container">
        <div class="section flex-align-self-flex-center">

            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer class="footer flex-align-self-flex-end" style="margin-block-start: auto;">
        {% include "footer.html" %}
    </footer>
</body>

</html>