<div class=level>
  <div class="level-left">
    <p>
      Built with <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org">Zola</a> using <a target="_blank" rel="noopener noreferrer" href="https://bulma.io">Bulma</a> &amp; <a target="_blank" rel="noopener noreferrer" href="https://alpinejs.dev">alpine js.</a><br>
    </p>
  </div>
  {% if config.generate_feed %}
  <div class="level-right">
    <a class="" target="_blank" rel="noopener noreferrer" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" title="Subscribe via RSS for updates."><svg class="icons icons__background"><use href="{{ get_url(path='icons.svg#rss', trailing_slash=false) | safe }}"></use></svg></a>
  </div>
  {% endif %}
</div>