<div class=level>
  <div class="level-left">
    <p>
      Built with <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org">Zola</a> using 
      <a target="_blank" rel="noopener noreferrer" href="https://bulma.io">Bulma</a>,
      <a target="_blank" rel="noopener noreferrer" href="https://alpinejs.dev">alpine js </a> &amp;
      <a target="_blank" rel="noopener noreferrer" href="https://feathericons.com/">feather icons.</a>
      <br>
    </p>
  </div>
  {% if config.mode == "serve"%}
  <p class="has-text-centered title has-text-warning">
    LOCAL
    MODE
  </p>
  {% endif %}
  {% if config.generate_feed %}
  <div class="level-right">
    <a target="_blank" rel="noopener noreferrer" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" title="Subscribe via RSS for updates.">
      <i data-feather="rss"></i>
    </a>
  </div>
  {% endif %}

  <script>
    feather.replace();
  </script>
</div>