@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  --bg-dim: #1E2326;
  --bg0: #272E33;
  --bg1: #2E383C;
  --bg2: #374145;
  --bg4: #414B50;
  --fg: #D3C6AA;
  --green: #A7C080;
  --grey1: #859289;
  --blue: #7FBBB3;
  --purple: #D699B6;
  --animation-speed: 0.5s;
  --animation-delay-scaling: 0.75s;
  color: var(--fg);
  display:flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  body {
  --bg-dim: #F2EFDF;
  --bg0: #FFFBEF;
  --bg1: #F8F5E4;
  --bg2: #F2EFDE;
  --bg4: #EDEADA;
  --fg: #5C6A72;
  --green: #8DA101;
  --grey1: #A6B0A0;
  --blue: #3A94C5;
  --purple: #DF69BA;
}}



h1,h2 {
  color: var(--green);
  font: var(--font-mono);
  line-height: var(--font-lineheight-1);
  font-weight: var(--font-weight-8);
  font-size: var(--font-size-fluid-3);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

footer {
  color: var(--grey1);
  margin-block-start: auto;
  padding: var(--size-fluid-1);
}

.background {
  display: flex;
  justify-content: start;
  background: var(--bg0);
}

.h-center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.v-center {
  margin-block-start: auto;
  margin-block-end: auto;
}


.card {
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-2);
  background: var(--bg2);
  border: var(--border-size-2) solid var(--bg4);
}

.card ol, .card ul {
  padding-inline-start: var(--size-4);
}

.card:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  text-align: center;
  width: 100%;
}

.sub-title {
  color: var(--grey1);
  text-align: center;
}

.icon {
  color: var(--blue);
  width: var(--size-6);
  aspect-ratio: var(--ratio-square);
}

.icon-bar {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding: 0 var(--size-fluid-1);
  justify-content: space-around;
}

.prose {
  color: var(--fg);
  font-size: var(--font-size-fluid-1)
}

.layout {
  padding: var(--size-fluid-1);
  display: grid;
  height: fit-content;
  gap: var(--size-fluid-1);
  grid-template-areas:
  "intro"
  "skill-lang"
  "skill-tools"
  "skill-skills"
  "skill-hobbies";
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

@media (min-width: 80ch)  {
  .layout {
    grid-template-areas: 
     "intro skill-lang skill-tools"
     "intro skill-skills skill-hobbies";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.skill-box {
  color: var(--fg);
  font-size: var(--font-size-fluid-1);
  border: var(--border-size-2) solid var(--bg4);
}

.skill-box ul {
  list-style-type: square;
}

.skill-box h2 {
  color: var(--green);
  font-size: var(--font-size-fluid-2);
}
